@font-face {
    font-family: Open Sans;
    src: url(fonts/OpenSans.ttf);
}


body{
	font-family:Open Sans, sans-serif;
	padding:0px;
	margin:0px;
	overflow-x:hidden;
}

/*ХХХХЕЕЕДДЕЕРРРРРРРРРРРРРРРРРРРРРРРРРРРРРРРРРРРРРРРРРРРРРРРРРРРРРРРРРРРРРРРРРРРРРРРРРРРРРРРРРРР*/

.header{
	z-index:10;
	position:fixed;
	width:100%;
	height:115x;
		transition: all 0.5s ease-in;
	-webkit-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
}
.header-top-panel{
	width:100%;
	height:26px;
	display:flex;
	flex-direction:row;
    justify-content: flex-end;
	align-items: center;
	font-size:16px;
	color:white;
	background-color:#005A69;
}
.tel-first{
		font-size:14px;
	font-family:Open Sans, sans-serif;
	margin-right:35px;
}
.tel-second{
		font-size:14px;
	font-family:Open Sans, sans-serif;
	margin-right:75px;
}
.header-top-panel div:last-child{
	margin-right:35px !important;
}
#wrap {
  /* margin: 50px 100px; */
  display: inline-block;
  position: relative;
  height: 30px;
  float: right;
  padding: 0;
}
.search-text {
  height: 30px;
  font-size: 16px;
  display: inline-block;
  font-family: "Lato";
  font-weight: 100;
  border: none;
  border-radius:15px;
  outline: none;
  color: #555;
  padding: 3px;
  width: 0px;
  position: relative;
  background: none;
  z-index: 3;
  transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
  cursor: pointer;
}
.search-text:focus:hover {
  border-bottom: 1px solid #BBB;
  
}
.search-text:focus {
  width: 200px;
  right:30px;
  z-index: 1;
  border-bottom: 1px solid #BBB;
  cursor: text;
}
.search-submit {
  margin-right:15px;
  height: 30px;
  width: 30px;
  display: inline-block;
  color:red;
  float: right;
  background: url(../img/search.png)no-repeat;
  background-position:center center;
  text-indent: -10000px;
  border: none;
  border-radius:3px;
  outline: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  cursor: pointer;
  transition: opacity .4s ease;
}

.search-submit:hover {
	background: url(../img/search-hover.png)no-repeat !important;
	background-position:center center !important;
}
/* .search{
	background:url(../img/search.png)no-repeat;
	background-size:80% 80%;
	background-position:center center;
	width:30px;
	height:30px;
	border-radius:3px;
}
.search:hover{
	cursor:pointer;
	background-color:#3EFF01;
} */


.header-bottom-panel{
	background-color:transparent;
	font-family:Open Sans, sans-serif;
	height:70px;
	width:100%;
	display:flex;
	flex-direction:row;
	justify-content: space-between;
	align-items:center;

}
.logo{
	font-size:28px;
	color:#ffffff;
}

.logo img{
	margin-left: 50px;
	margin-right: 20px;
	width:60px;
	height:60px;
}
.logo:hover{
	cursor:pointer;
}
.menu{
	display:flex;
	flex-direction:row;
	justify-content: center;
	padding:0px;
	margin:0px;

}
.menu li{
		list-style-type:none;
		margin-left:20px;
			
}
.menu a{
	color:#ffffff;
}
.menu a:hover{
	color:#ffffff;
}
.menu a:visited{
	color:#ffffff;
}
.menu li:first-child{
		margin-left:0px;
}
.compar-cart-wrap{
	display:flex;
	flex-direction:row;
	align-items:center;
}
.cart{
	margin-right:15px;
}
.cart:hover path{
	fill:#00deff;
}
.compar{
	margin-right:15px;
}
.compar:hover path{
	fill:#00deff;
}

/*Главная страницаааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааа*/

.main-image{
	background: url(../img/grass.jpg) no-repeat;
	background-size:100% 100%;
	width:100%;
	position:relative;
	height:100vh;
	z-index:1;
}
.main-image p{
	width:100%;
	text-align:center;
	position:relative;
	margin:auto;
	top:250px;
	color: #fff;
    font-size: 68px;
    font-weight: 700;
    -webkit-animation: title 2.4s;
    -moz-animation: title 2.4s;
    animation: title 2.4s;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
}
.bunner_buttons{
	position:absolute;
	width:100%;
	top:400px;
	font-family:Open Sans, sans-serif;
	display:flex;
	flex-direction:row;
	justify-content:center;

}
.bunner_buttons i{
	font-style:normal;
	width:200px;
	height:50px;
	display:flex;
	justify-content:center;
	align-items:center;
		color:#ffffff;

	border: 1px solid #ffffff;
	border-radius:7px;
	text-align:center;
	vertical-align:middle;
	margin-left:100px;
	font-size:22px;
}
.bunner_buttons a{
	color:#ffffff;
	text-decoration:none;
}
.bunner_buttons i:first-child{
	margin-left:0px;
}
.bunner_buttons a:hover{
	text-decoration:none;
	color:#ffffff;
}
.bunner_buttons i:hover{
	border:none;
	cursor:pointer;
	background-color:#5ecb32;
	text-decoration:none;
}

/*БРЭНДЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫ*/

.brand-carusel{
	margin-top:50px;
	width:100%
}
.brand-carusel p{
	font-size:28px;
	color:#2F6C6D;
}

.brand-1 {
	background:url(../img/1.png)no-repeat;
	background-size:contain;
	background-position:center center;
}
.brand-2{
	background:url(../img/2.png)no-repeat;
	background-size:contain;
	background-position:center center;
}
.brand-3{
	background:url(../img/3.jpg)no-repeat;
	background-size:contain;
	background-position:center center;
}
.brand-4{
	background:url(../img/4.gif)no-repeat;
	background-size:contain;
	background-position:center center;
}
.brand-5{
	background:url(../img/5.png)no-repeat;
	background-size:contain;
	background-position:center center;
}
.brand-6{
	background:url(../img/6.jpg)no-repeat;
	background-size:contain;
	background-position:center center;
}
.brand-7{
	background:url(../img/7.jpg)no-repeat;
	background-size:contain;
	background-position:center center;
}
.brand-8{
	background:url(../img/8.jpg)no-repeat;
	background-size:contain;
	background-position:center center;
}
.brand-9{
	background:url(../img/9.jpg)no-repeat;
	background-size:contain;
	background-position:center center;
}
.brand-10{
	background:url(../img/10.jpg)no-repeat;
	background-size:contain;
	background-position:center center;
}
.each-brand{
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray; /* IE 6-9 */
	/* margin-right:50px; */
}
.each-brand:hover {
   cursor:pointer;
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
  filter: none;
  filter: none; /* IE 6-9 */
}
.brand-carusel .slick-slide{
	margin-left:0px;
	height:140px !important;
}
.slider{
	margin:auto;
}
/*POPULARRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRr*/

.popular{
	margin-top:60px;
	width:100%;
}
.product-wrap .popular{
	margin-top:0px !important;
}
.popular p{
	font-family:Open Sans, sans-serif;
	font-size:28px;
	color: #333;
}
/* .pop-wrapper{
	width:100%;
	height:inherit;
	background-color:#eee;
} */
.pop-conditioners{
	width:1100px;
	margin:auto;
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px 0;
    position: relative;
}
/* .pop-conditioners:before{
	    content: '';
    display: block;
    background-color: #eee;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -9999px;
    left: -9999px;
    z-index: -1;
} */
.conditioner-col{
	flex-direction:column;
    display: flex;
    justify-content: flex-start;
	align-items:center;
/*  width: 100%;
    height: 280px; */
    overflow: hidden;
    margin-bottom: 20px;
    position: relative;
	background-color:#fff;
	width:350px;
	height:360px;
	border: 1px solid #fff;
	    
    border-radius: 3px;
	    padding-top: 20px;
}
.conditioner-col:hover{
	border: 1px solid #d9d9d9;
}

.cond-name{
	text-align: center;
	font-size: 18px;
    line-height: 24px;
    font-family:Open Sans, sans-serif;
    font-weight: normal;
    color: #000;
    text-decoration: none;
}
.cond-name:hover{
	color: #000;
}
.cond{
	    display: flex;
    justify-content: center;
    width: 100%;
    height: 220px;
    overflow: hidden;
    margin-bottom: 20px;
    position: relative;
}
.cond img{
display: block;
    width: auto;
    max-width: 100%;
    height: auto;
    min-height: 100%;
}


.price-buy-compare{
	font-family:Open Sans, sans-serif;
	font-size:18px;
	width:100%;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:center;
	position:absolute;
	bottom:10px;
}
.price{	
	margin-left:25px;
	color:#ff5500;
}
.buy-compar{
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
}
.buy{
	font-family:Open Sans, sans-serif !important;
	font-size:18px !important;
	width:100px !important;
	background-color:#ff5500 !important;
	border:none !important;
	box-shadow: 3px 3px 10px rgba(0,0,0,0.5);
	border-radius:15px !important;
}
.buy-compar .compar{
	background: url(../img/compar-cond.png)no-repeat;
	background-position:center center;
	width:30px;
	height:30px;
	margin-left:25px;
	margin-right:25px;
}

/*Предложенияяяяяяяяяяяяяяяяяяяяяяяяяяяяяяяяяяяяяяяяяяяяяяяяяяяяяяяяяяяяяяяяяяяяяяяяяяяяяяяя*/
/* .offers-wrap{
	    border: 1px solid #777;
    position: relative;
	width:1100px;
	margin:auto;
	margin-top:60px;
}

.shares{
	    background-color: #fff;
    display: inline-block;
    padding: 5px 15px;
    position: absolute;
    top: -23px;
    left: 50px;
	font-size: 28px;
    line-height: 32px;
    color: indianred;
    font-weight: bold;
}
.offers{
	width:1100px;
    display: flex;
    padding: 30px;
	margin:auto;
}

.offers-cond{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 25% 1 0;
    padding-right: 10px;
}
.sale{
    width: 100%;
    background: indianred;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    line-height: 21px;
    position: absolute;
    padding: 5px 45px;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    text-align: center;
    top: 10%;
    right: -35%;
    transform: rotate(45deg);
}
.offers-title{
	display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
}
.offers-title div{
    font-size: 28px;
    font-weight: bold;
    line-height: 36px;
    color: #777;
}

.offers-cond-wrap{
	display:flex;
	flex-direction:row;
	justify-content:baseline;
	background-color:#eee;
}

.offers-cond-item{
	width: calc( 33.3333% - 20px);
    background: #eee;
	display: flex;
	flex-direction:column;
    justify-content: baseline;
    width: inherit;
    padding: 20px 15px;
	height:inherit;
	}
	.offers-cond-item img{
	    display: block;
    width: auto;
    max-width: 100%;
    height: auto;
    min-height: 100%;
	}
	.cond-wrap{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 180px;
    overflow: hidden;
    margin-bottom: 20px;
    position: relative;
	} */
	/*Преймуществааааааааааааааааааааааааааааааааааааааааааааааааааааааааааа*/
.advantages-wrapper{
	width:100%;
	margin:auto;
}
.advantages-wrapper h2{
	font-family: Open Sans, sans-serif;
	color: #333;
	margin-bottom:70px;
}

.advantages{
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
	width:100%;
	margin-bottom:100px;
}
.adv{
	text-align:center;
	width:200px;
	font-size:24px;
	font-family:Open Sans, sans-serif;
	margin-left:150px;
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	align-items:center;
	font-style:normal;
}
.advantages-1{
	margin-left:0px;
}
.adv p{
	font-weight: bold;
	margin-top:20px;
	width:250px;
}
	/*Последние записииииииииииииииииииииииииииииииииииииииииии*/
.latest-wrap{
		margin-top:50px;
}
.latest-wrap h2{
	font-family:Open Sans, sans-serif;
	color: #333;
}
.single-item{
	margin:auto;
	width:900px;
}
.slick-prev{
	width:80px !important;
	height:80px !important;
	left:-100px !important;
}
.slick-next{
	width:80px !important;
	height:80px !important;
	right:-110px !important;
}
.latest{
	width:1100px;
	margin:auto;
	display:flex !important;
	flex-direction:row;
	justify-content:center;
	margin-top:80px;
}
.latest-img{
	margin-right:60px;
		width:450px;
}
.latest-img img{
	width:450px;
	height:380px;
}
.description{
	display:flex;
	flex-direction:column;
	justify-content:baseline;
	font-family:Open Sans, sans-serif;
	text-align: justify;
}
.date{
	margin-bottom:25px;
	color:grey;
	align-self: flex-end;

}
.read-more{
	margin-bottom:25px;
	align-self: flex-end;
	color:#000;
}
.read-more:hover{
	color:#000;
}

.read-more:hover{
	cursor:pointer;
	text-decoration:underline !important;
}
.description-title{
		margin-bottom:25px;
		color: #005A69;
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    text-decoration: none;
}
.description-title:hover{
	cursor:pointer
}
.description-text{
	font-size:16px;
}
.footer{
	font-family:Open Sans, sans-serif;
	width:100%;
	padding-bottom: 20px;
    background-color: #003542;
    padding-top: 20px;
	display:flex;
	flex-direction:row;
	align-items:flex-start;
	justify-content:space-between;
}
.footer-contact{
	color:#fff;
	margin-left:100px;
	display:flex;
	flex-direction:column;
	align-items:flex-start;
	justify-content:center;
	line-height:1.5;
}
.footer-inf{
	color:#fff;
	display:flex;
	flex-direction:column;
	align-items:flex-start;
	justify-content:center;
	line-height:1.5;
}

.footer-inf a{
	color:#fff;
}
.footer-inf a:hover{
	color:#fff;
}
.footer-inf a:visited{
	color:#fff;
}
.footer-feedback{
	margin-right:100px;
	display:flex;
	flex-direction:column;
	align-items:flex-start;
	justify-content:center;
}
.footer-feedback .contact-title{
	margin-bottom:20px;
}
/* .footer-feedback input{
	border-radius:5px;
} */
.contact-title{
	color:#fff;
	font-size:18px;
	margin-bottom:10px;
}



/*PPPPPPPRRRRRRRRROOOOOOOOOOOOODDDDDDDDDDUUUUUUUUUUCCCCCCCTTTTT*/

.product-wrap .popular{
	   padding-top: 100px;
	margin-top:0px !important;
	width:100%;
}
.product-wrap .popular p{
	font-family:Open Sans, sans-serif;
	font-size:28px;
	color: #333;
}
/* .pop-wrapper{
	width:100%;
	height:inherit;
	background-color:#eee;
} */
.product-wrap .pop-conditioners{
	width:1100px;
	margin:auto;
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px 0;
    position: relative;
}
/* .pop-conditioners:before{
	    content: '';
    display: block;
    background-color: #eee;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -9999px;
    left: -9999px;
    z-index: -1;
} */
.product-wrap .conditioner-col{
	flex-direction:column;
    display: flex;
    justify-content: flex-start;
	align-items:center;
/*  width: 100%;
    height: 280px; */
    overflow: hidden;
    margin-bottom: 20px;
    position: relative;
	background-color:#fff;
	width:350px;
	height:360px;
	border: 1px solid #fff;
	    
    border-radius: 3px;
	    padding-top: 20px;
}
.product-wrap .conditioner-col:hover{
	border: 1px solid #d9d9d9;
}

.product-wrap .cond-name{
	text-align: center;
	font-size: 18px;
    line-height: 24px;
    font-family:Open Sans, sans-serif;
    font-weight: normal;
    color: #000;
    text-decoration: none;
}
.product-wrap .cond-name:hover{
	color: #000;
}
.product-wrap .cond{
	    display: flex;
    justify-content: center;
    width: 100%;
    height: 220px;
    overflow: hidden;
    margin-bottom: 20px;
    position: relative;
}
.product-wrap .cond img{
display: block;
    width: auto;
    max-width: 100%;
    height: auto;
    min-height: 100%;
}


.product-wrap .price-buy-compare{
	font-family:Open Sans, sans-serif;
	font-size:18px;
	width:100%;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:center;
	position:absolute;
	bottom:10px;
}
.product-wrap .price{	
	margin-left:25px;
	color:#ff5500;
}
.product-wrap .buy-compar{
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
}
.product-wrap .buy{
	font-family:Open Sans, sans-serif !important;
	font-size:18px !important;
	width:100px !important;
	background-color:#ff5500 !important;
	border:none !important;
	box-shadow: 3px 3px 10px rgba(0,0,0,0.5);
	border-radius:15px !important;
}
.product-wrap .buy-compar .compar{
	background: url(../img/compar-cond.png)no-repeat;
	background-position:center center;
	width:30px;
	height:30px;
	margin-left:25px;
	margin-right:25px;
}

/*HEADERRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRR*/

.header-product{
	z-index:10;
	position:fixed;
	width:100%;
	height:115x;
		transition: all 0.5s ease-in;
	-webkit-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
}

.header-product .header-top-panel-prod{
	width:100%;
	height:26px;
	display:flex;
	flex-direction:row;
    justify-content: flex-end;
	align-items: center;
	font-size:16px;
	color:white;
	background-color:#005A69;
}

.header-product .header-bottom-panel-prod{
	background-color:#005A69;
	font-family:Open Sans, sans-serif;
	height:70px;
	width:100%;
	display:flex;
	flex-direction:row;
	justify-content: space-between;
	align-items:center;

}

/*FFFFFFIIIIIIIIIILLLLLLLLLLLTTTTTTTTTTTEEEEEEEEERRRRRRRRR*/
.product-wrap{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:start;
}
input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  padding: 10px;
}
/* .filter{
	padding-top:100px;
	width:300px;
	height:inherit;
}
.prod-sub-title{
	text-transform:uppercase;
	font-size:14px;
	font-family:Open Sans, sans-serif;
}
.filter .container{
	width:100%;
	color:#949496;
} */
.container {
 min-width: 250px !important;
 margin-top:100px;
 border:none;
}

.panel-default>.panel-heading {
  color: #333;
  background-color: #fff;
  border-color: #e4e5e7;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.panel-default>.panel-heading a {
  display: block;
  padding: 10px 15px;
}

.panel-default>.panel-heading a:after {
  content: "";
  position: absolute;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  float: right;
  transition: transform .25s linear;
  -webkit-transition: -webkit-transform .25s linear;
}

.panel-default>.panel-heading a[aria-expanded="true"] {
  background-color: #eee;
  position:relative;
}

.panel-default>.panel-heading a[aria-expanded="true"]:after {
  content: "\2212";
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  position:absolute;
  top:20px;
  right:1px;
}

.panel-default>.panel-heading a[aria-expanded="false"]:after {
  content: "\002b";
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top:20px;
    right: 1px;
}

.accordion-option {
  width: 100%;
  float: left;
  clear: both;
  margin: 15px 0;
}

.accordion-option .title {
  font-size: 20px;
  font-weight: bold;
  float: left;
  padding: 0;
  margin: 0;
}

.accordion-option .toggle-accordion {
  float: right;
  font-size: 16px;
  color: #6a6c6f;
}

.accordion-option .toggle-accordion:before {
  content: "Паказать все";
}

.accordion-option .toggle-accordion.active:before {
  content: "Свернуть все";
}
.product-filter-button{
	font-family: "Myriad Pro", Arial, Helvetica, sans-serif;
	margin-top:40px;
	position:relative;
	width:100%;
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
}
.product-filter-button i{
	font-style:normal;
	width:220px;
	height:50px;
	display:flex;
	justify-content:center;
	align-items:center;
	color:#1e2126;
	border: none;
	border-radius:7px;
	text-align:center;
	vertical-align:middle;
	margin-right:30px;
	font-size:26px;
}
.product-filter-button i:last-child{
		margin-right:0px;
}

.product-filter-button a{
	line-height:1;
	color:#1e2126;
	text-decoration:none;
}
.product-filter-button i:first-child{
	margin-left:0px;
}
.product-filter-button a:hover{
	text-decoration:none;
	color:#00deff;
}
.product-filter-button i:hover{
	border:none;
	cursor:pointer;
	text-decoration:none;
}
.panel-heading a{
	background-color:#fff !important;
	border:none;
	position:relative;
}
.panel-default{
	border:none !important;
}
.panel-group{
	border-right:1px solid #e4e5e7 ;
}
.panel-body{
	border-bottom:1px solid #e4e5e7 !important;
	border-top:none !important;
}
.panel-body:last-child{
	border-bottom:none;
}
/* .panel-heading a{
	background-color:#fff;
} */
.eco-accord{
	display:none;
}
.cond-accord{
	display:none;
}
.air-accord{
	display:none;
}
.radiator-accord{
	display:none;
}
.gas-accord{
	display:none;
}
.electro-accord{
	display:none;
}
.cotel-accord{
	display:none;
}
.convector-accord{
	display:none;
}
.accord-container{
	display:none;
}
.checkbox{
	margin-bottom:16px !important;
}
.panel-body{
color:#949496;
}

/*КООООРРРЗЗЗИИННААААА===========================================*/
.cart-wrapper{
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
	width:100%;
	height:800px;
}
.cart-product-wrapper{
	height:inherit;
	width:50%;
}
.cart-product{
	padding: 150px 30px 0px 30px;
}
.wrapper-cart-form{
	background-color:#f4f4f4;
	height:inherit;
	width:50%;
}
.cart-form{
    padding-top: 150px;
}

.form-group{
	margin-left:30px;
	display: flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:center;
}
.summury{
	margin-left:30px;
	font-size:18px;
}
.summury-number{
	color:#ff5500;
	margin-left:30px;
}
.summury-number-price{
	font-size:42px;
}
.summury-number-grn{
	
}
.form-control{
    position: relative;
    display: block;
    width: 85% !important;
    height: 37px;
    padding: 0 16px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #24262a;
    border: 1px solid #f4f4f4;
    background: #ffffff;
    outline: none;
    border-radius: 20px !important;
    -webkit-box-shadow: inset 0 0 0 transparent;
    box-shadow: inset 0 0 0 transparent;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
	}

	.checkbox-email{
		width:50% !important;
	}
	.get-message{
		display:flex;
		flex-direction:row;
		justify-content:center;
		align-items:center;
		font-size:11px;
	}
	.get-message span{
		color:#bdbdbd;
		width:100px;
	}
	.message-checkbox{
		position:relative !important;
		margin-left:0px !important;
	}
	.help-info{
	margin-right:30px;
    border-radius: 50%;
	width:23px;
	height:23px;
	position: relative;
    vertical-align: middle;
    text-decoration: none;
    color: #00deff;
    border: none;
    font-size: 15px;
    letter-spacing: 0.01em;
    background-color: #ffffff;
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    outline: none;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
	}
	.help-info:after{
			content:'?';
			position: relative;
			left: 7px;
			top: 1px;
			font-size: 15px;
		}
	.help-info:active{
		background-color:#00deff;
		color:#fff;
	}
	.btn-default{
	border-radius:26px !important;
	background-color:#ff5500 !important;
	border:none !important;
	width: 175px;
    height: 50px;
	font-size: 24px !important;
	color:#ffffff !important;
	float:right;
	margin-right:30px;
	}
	
	
	.cart-product-body{
		display:flex;
		flex-direction:row;
		justify-content:space-between;
		align-items:center;
	}
	.cart-product-number{
		align-self:start;
	}
	.cart-product-img{
		width:85px;
		height:85px;
	}
	.cart-product-img img{
		width:85px;
		height:85px;
	}
	.cart-product-text{
		color:#000;
		width:100px;
	}
	.cart-product-count{
		display:flex;
		flex-direction:row;
		justify-content:center;
		align-items:center;
	}
	.count-plus, .count-minus{
    border-radius: 50%;
	width:23px;
	height:23px;
	position: relative;
    vertical-align: middle;
    text-decoration: none;
    color: #00deff;
    border: none;
    font-size: 15px;
    letter-spacing: 0.01em;
    background-color: #ffffff;
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    outline: none;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
	}
		.count-plus:after{
			content:'+';
			color:#00deff;
			position: relative;
			left: 5px;
			top: -3px;
			font-size: 22px;
		}
		.count-minus:after{
			content:'-';
			color:#00deff;
			position: absolute;
			left: 7px;
			top: -5px;
			font-size: 22px;
		}
	.count-text{
	margin:0 10px 0 10px;	
	}
	.cart-product-price{
		font-size: 18px;
		color:#ff5500;
	}
	.cart-product-first-field label{
		width:100% !important;
	}
	.cart-checkbox{
		display:flex;
		flex-direction:row;
		align-items:center;
	}
	.product-field-text{
		color:#a2a2a2;
		border: 1px solid #f4f4f4;
		border-radius:18px;
		width:80%;
		height:40px;
		vertical-align:middle;
		display:flex;
		justify-content:center;
		align-items:center;
	}
	    

/*КООООРРРЗЗЗИИННААААА=============КОНЕЦ==============================*/